h2{
  padding: 2vw;
  text-align: center;
font: bold;
font-size: 50px;

}

.image_container{
  display: inline-block;
}

/* table {
  border: 2px solid black;
  border-collapse: separate;
} */

#ran, #el, #ch, #co {
  border: 5px solid black;
  padding: 25px 50px;
  background-color: lightblue;
  padding-left: 5px;
  height: 250px;
  width: 250px;
}

#topLogo {
  background-color: lightslategray;
  border: 3px white;
  width: 70vw;
  height: 10vw;
  text-align: left;
  padding-top: 50px; 
  padding-left: 10vw;
  font-weight: bold;
  font-size: 80px;
justify-content: center;
}

hr {
  color: red;
  border-color: red;
  text-emphasis-color: red;
}

#moveMent{
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example;
  -webkit-animation-duration: 10s;
  animation-name: example;
  animation-duration: 5s;
  animation-direction: alternate;

}

@-webkit-keyframes example {
  0%   {background-color:brown; left:0px; top:0px;}
  25%  {background-color:brown; left:0px; top:0px;}
  50%  {background-color:brown; left:0px; top:0px;}
  75%  {background-color:brown; left:0px; top:0px;}
  100% {background-color:brown; left:0px; top:0px;}
}

@keyframes example {
  0%   {background-color:brown; left:0px; top:0px;}
  25%  {background-color:brown; left:400px; top:0px;}
  50%  {background-color:brown; left:400px; top:200px;}
  75%  {background-color:brown; left:0px; top:200px;}
  100% {background-color:brown; left:0px; top:0px;}
}
main{
  height: auto;
}