 *{
   margin:0;
   padding: 0;
   border: 0;
 }
 h2{
  padding: 2vw;
  text-align: center;
  font: bold;
  font-size: 2em;
}

.image_container{
  display: inline-block;
  /* //changed width & height from 100% to auto && added position relative */
  width: auto;
  height: auto;
  position: relative;
}

#topLogo {
  width: 70vw;
  height: auto;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  justify-content: center;
  margin-bottom: 0.5em;
} 

  .crew{
  display: inline-block;
  height: 40%;
  width: 40%;
}

.imgCrew{
  /* //changed height & width to 50%.  It was 40% each */
  height: 50%;
  width: 50%;
  display: inline-block;
  /* //added the below info */
  backface-visibility: hidden;
  /* opacity: 1;
  transition: 1s ease; */
  position:relative;
}

/* //added section  */
.imgCrew:hover {
  opacity: 0.3;
}

.pCrewInfo{
    visibility: hidden;
    height: 50%;
    width: 20%;
    /* display: inline-block; */
    overflow-wrap: break-word;
    position: absolute;
    top:10vh;
    left:14vw;
}

.imgCrew:hover + .pCrewInfo{
    visibility:visible;
}

 main{
  height: 100%;
} 