 *{
   margin:0;
   padding: 0;
   border: 0;
 }
 h2{
  padding: 2vw;
  text-align: center;
  font: bold;
  font-size: 2em;
}

.image_container{
  display: inline-block;
  /* //changed width & height from 100% to auto && added position relative */
  width: auto;
  height: auto;
  position: relative;
}

#topLogo {
  width: 70vw;
  height: auto;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  justify-content: center;
  margin-bottom: 0.5em;
  color: #3c70a4;
  font-family: 'Fascinate Inline', cursive;
  text-shadow: 1.5px 1.5px #da9833;
} 

  .crew{
  display: inline-block;
  height: 40%;
  width: 40%;
}

.imgCrew{
  /* //changed height & width to 50%.  It was 40% each */
  height: 70%;
  width: 70%;
  display: inline-block;
  /* //added the below info */
  backface-visibility: hidden;
  /* opacity: 1;
  transition: 1s ease; */
  position:relative;
  border: 5px dashed #3c70a4;
  border-radius: 20%;
}

/* //added section  */
.imgCrew:hover {
  opacity: 0.4;
}


.pCrewInfo{
  position: absolute;
  opacity: 0;
  transition: 1s ease;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* //added section  */
.imgCrew:hover {
  opacity: 0.2;
  }

  /* //added section  */
  .pCrewInfo:hover {
opacity: 1;
  }

  .pCrewInfo{
background-color: darkgreen;
color: blue;
font-size: 15px;
  }

 main{
  height: 100%;
} 
#elh{
  visibility: hidden;
  height: 50%;
  width: 20%;
  /* display: inline-block; */
  overflow-wrap: break-word;
  position: absolute;
  top:10vh;
  left:14vw;
}
h1{
  font-family: 'Modak', cursive;
  font-weight: bolder;
  color: #3c70a4;
  text-shadow: 2px 2px #da9833;
  font-size: 2em;
}
