/* styling de instruction's page */
#h1Instruction{
    text-align: center;
    text-decoration-line: underline;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    color: #004b96;
   font-size: 1.7vw;
   font-family: 'Boogaloo', cursive;
  }
  .h2Instruction{
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #004b96;
   font-size: 1.7vw;
   font-family: 'Boogaloo', cursive;
}
  .pInstruction{
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 1%;
      margin-bottom: 1%;
      /* position: relative; */
  }
  h4{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    color: #004b96;
   font-size: 1.7vw;
   font-family: 'Boogaloo', cursive;
  }
  ul li {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    /* position: relative; */
  }
 main{
   height: auto;
 }
 sup{
    vertical-align: super;
    font-size: smaller;
 }
 ul, li{
  color: #004b96;
  font-size: 1.7vw;
  font-family: 'Boogaloo', cursive;
 }