table {
    display: inline-block;
}

th, tr, td{
    border-bottom: 1px solid #3c70a4;
    color: #3c70a4;
    color: #004b96;
    font-family: 'Boogaloo', cursive;
}
td{
    width: 10vw;
    font-size: 3vh;
    line-height: 4vh;

}
#threeDonuts, #fourDonuts, #fiveDonuts{
    display: inline-block;
    margin-top: 3vh;
    background: linear-gradient(#d9eeec, #64b2cd, #eb9d28 );
}
th{
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
    line-height: 4vh;
}
.hhead{
    font-size: 5vh;
    /* width: 40vw; */
}