body{
  background-color: #d9eeec;
  text-align: center;
}
#main-container{
  background-color:#64b2cd;
  margin: 1em auto;
  display: inline-block;
  width: 90%;
  height: auto;
  min-height: 10em;
  overflow: hidden;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
}

header h1 {
  text-align: center;
  padding: 0.25em;
  font-family: 'Boogaloo', cursive;
  font-size: 4em;
  background-color: #da9833;
  color: #d9eeec;
  margin-top: 0.25em;
  border-radius: 50%;
  border: 0.2em solid #3c70a4;
}

header img {
  width: 4em;
  text-align: center;
  margin-bottom: 2em;
}

#nav {
  display: inline-block;
  margin: 0 auto;
  width: 49%;
  text-align: center;
  vertical-align: 50%;
}

#nav div, #reset-btn {
  padding: 0.4em;
  margin: 0.25em;
  font-family: 'Boogaloo', cursive;
  font-size: 2em;
  background-color: #da9833;
  color: #d9eeec;
  border-radius: 50%;
  border: 0.2em solid #3c70a4;
}

#nav div:hover, #reset-btn:hover {
  background-color: #3c70a4;
  border: 0.2em solid #da9833;
  cursor: pointer;
}

header a {
  margin: 0 auto;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

main{
  background-color:#d9eeec;
  margin: 1.5em auto;
  margin-bottom: 3em;
  padding-bottom: 1em;  
  width:62em;
  height: 28em;
  position: relative;
  /* height: auto; */
  overflow: hidden;
  
}

#moves {
  position:absolute;
  width:auto;
  left: 1em;
  line-height: 65px;
  height:65px;
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 2em;
  color: #21647a;
}

#reset-btn {
  width:auto;
  display: inline-block;
  position: absolute;
  text-align: center;
  right:0;
  }
  
.towers{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
div {
  display:inline-block;
}

#post0{
  background-color:#da9833;
  width:50px;
  height:350px;
  color:white;
  margin-left:100px;
  position: absolute;
  bottom:0;
  left:90px;
}

#post1 {
  background-color:#da9833;
  width:50px;
  height:350px;
  line-height:100px;
  margin-left:100px;
  position: absolute;
  bottom: 0px;
  left:375px;
}


  #post2 {
  background-color:#da9833;
  width:50px;
  height:350px;
  line-height:100px;
  margin-left:100px;
  position: absolute;
  bottom: 0px;
  left:660px;
}

#doughnutOne {
  position:absolute;
  top:278px;
  left:4%;
  width:150px;
  height:30px;
  background-color:purple;
  text-align:center;
}
#doughnutTwo {
  position:absolute;
  top:278px;
  left:4%;
  width:150px;
  height:30px;
  background-color:purple;
  text-align:center;
}

.donut3{
  background-color:red;
  position: absolute;
  right:-6em;
  width:15em;
  height:3em;
  border-radius: 50%;
  line-height:4em;

}
.donut2{
  background-color:purple;
  position: absolute;
  right:-3.9em;
  width:11em;
  height:2.8em;
  border-radius: 50%;
  line-height:4em;
}

.donut1 {
  background-color: rgb(13, 82, 30);
  position: absolute;
  right:-2.6em;
  width:8em;
  height:2.5em;
  border-radius: 50%;
  line-height:2em;
}

#post0 div:nth-child(1){
  position: absolute;
  bottom: 0em;
}

#post0 div:nth-child(2){
    position: absolute;
    bottom:2.2em;
}
#post0 div:nth-child(3){
  position: absolute;
  bottom:4.4em;
}
  
#post1 div:nth-child(1){
  position: absolute;
  bottom: 0em;
}

#post1 div:nth-child(2){
    position: absolute;
    bottom:2.2em;
}
#post1 div:nth-child(3){
  position: absolute;
  bottom:4.4em;
}

#post2 div:nth-child(1){
  position: absolute;
  bottom: 0em;
}

#post2 div:nth-child(2){
    position: absolute;
    bottom:2.2em;
}
#post2 div:nth-child(3){
  position: absolute;
  bottom:4.4em;
}
  
#scoreBoard {
  visibility: hidden;
  position: fixed;
  z-index: 999999999;
  width: 50em;
  height: 36em;
  background-color: lightgray;
  margin: 10em 20em;
  opacity: 0.91;
  border-color: darkgray;
  border-style: dashed;
  border-width: 5px;
  font-family: 'Boogaloo', cursive;
}
  
#scoreBoard h1{
  font-size:2.5em;
  margin-top:3em;
  margin-bottom:1em;
}
#scoreBoard p{
  font-size:1.8em;
  margin-bottom:1.8em;
}
#username{
  width:8em;
  height:2.2em;
  border-style:none;  
  outline: none;
  font-size: 1.8em;
  text-align: center;
  line-height: 2.2em;
  font-family: 'Boogaloo', cursive;
  color: rgb(199, 136, 0);
  margin: 0 1em;
}
#imgleft{
  display: inline-block;
  animation: rotation 0.15s infinite linear;
}


@keyframes rotation {
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#imgright{
  display: inline-block;
  animation: rotation 0.15s infinite linear;
}


@keyframes rotation {
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#submit{
  padding: 0.4em;
  margin: 0.25em;
  font-family: 'Boogaloo', cursive;
  font-size: 2em;
  background-color: #da9833;
  color: #d9eeec;
  border-radius: 50%;
  border: 0.2em solid #3c70a4;
  margin-top:1em;
}
#submit:hover {
  background-color: #3c70a4;
  border: 0.2em solid #da9833;
  cursor: pointer;
}
  
  


