body{
  background-color: #d9eeec;
  text-align: center;
}
#main-container{
  background-color:#64b2cd;
  margin: 3vh auto;
  display: inline-block;
  width: 90%;
  height: auto;
  min-height: 60vh;
  overflow: hidden;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
}

#main-container p {
  color: #004b96;
  margin-top: 0.3vh;
  font-size: 1.7vw;
  font-family: 'Boogaloo', cursive;
}

header h1 {
  text-align: center;
  padding: 0.25em;
  font-family: 'Boogaloo', cursive;
  font-size: 6vh;
  background-color: #da9833;
  color: #d9eeec;
  margin-top: 1vh;
  border-radius: 50%;
  border: 0.2em solid #3c70a4;
}

header img {
  width: 10vw;
  text-align: center;
  margin-bottom: 1.5vh;
  border: 0.2em solid #3c70a4;
}

#nav {
  display: inline-block;
  margin: 0 auto;
  width: 49%;
  text-align: center;
  vertical-align: 50%;
}

#nav div, #reset-btn, .donutAdjust {
  padding: 0.2em;
  margin: 0.25em;
  font-family: 'Boogaloo', cursive;
  font-size: 3.5vh;
  background-color: #da9833;
  color: #d9eeec;
  border-radius: 30%;
  border: 0.2em solid #3c70a4;
  box-shadow: inset 0.2vh 0.2vh 1vh #000000;
}

#nav div:hover, #reset-btn:hover, .donutAdjust:hover {
  background-color: #3c70a4;
  border: 0.2em solid #da9833;
  cursor: pointer;
}

header a {
  margin: 0 auto;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

main{
  background-color:#d9eeec;
  margin: 1.5em auto;
  margin-top: 1.5vh;
  margin-bottom: 0.7em;
  padding-bottom: 0.5em;  
  width: 75vw;
  height: 59.5vh;
  position: relative;
  overflow: hidden;
  border: 0.2em solid #3c70a4;
}

#moves {
  margin-top: 2.5vh;
  position:absolute;
  width:auto;
  display: inline-block;
  left: 1vw;
  text-align: left;
  font-family: 'Boogaloo', cursive;
  font-size: 4vh;
  color: #3c70a4;
}

#reset-btn {
  font-size: 4vh;
  width:auto;
  display: inline-block;
  position: absolute;
  text-align: center;
  right:0;
  }
  
.towers{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
div {
  display:inline-block;
}

#post0{
  background-color:#da9833;
  width:3vw;
  height:40vh;
  line-height:80vh;
  margin-left:5vw;
  position: absolute;
  bottom: 0px;
  left:9vw;
  box-shadow: inset 1vh 1vh 3vh #744f00;
}

#post1 {
  background-color:#da9833;
  width:3vw;
  height:40vh;
  line-height:80vh;
  margin-left:5vw;
  position: absolute;
  bottom: 0px;
  left:30vw;
  box-shadow: inset 1vh 1vh 3vh #744f00;
}


  #post2 {
  background-color:#da9833;
  width:3vw;
  height:40vh;
  line-height:80vh;
  margin-left:5vw;
  position: absolute;
  bottom: 0px;
  left:52vw;
  box-shadow: inset 1vh 1vh 3vh #744f00;
}
.donut5{
  position: absolute;
  right:-9.59vw;
  width:22vw;
  height:17.8vh;
  filter: drop-shadow(0px 5px 7px #0000002f); 
}

.donut4{
  position: absolute;
  right:-8.05vw;
  width:19.0vw;
  height:15.7vh;
  filter: drop-shadow(0px 5px 7px #0000002f); 
}

.donut3{
  position: absolute;
  right:-6.04vw;
  width:15.2vw;
  height:12.3vh;
  filter: drop-shadow(0px 5px 7px #0000002f);
}

.donut2{
  position: absolute;
  right:-5.19vw;
  width:13.5vw;
  height:12.3vh;
  filter: drop-shadow(0px 5px 3px #78cdf258);

}
.donut1 {
  position: absolute;
  right:-3.4vw;
  width:9.7vw;
  filter: drop-shadow(0px 4px 3px #9b285472);

}

#post0 img:nth-child(1){
  position: absolute;
  bottom: -0.1vh;
}

#post0 img:nth-child(2){
    position: absolute;
    bottom:6vh;
}
#post0 img:nth-child(3){
  position: absolute;
  bottom:12.5vh;
}
#post0 img:nth-child(4){
  position: absolute;
  bottom: 17.5vh;
}

#post0 img:nth-child(5){
  position: absolute;
  bottom: 23vh;

}
  
#post1 img:nth-child(1){
  position: absolute;
  bottom: -0.1vh;
}

#post1 img:nth-child(2){
    position: absolute;
    bottom:6vh;
}
#post1 img:nth-child(3){
  position: absolute;
  bottom:12.5vh;
}
#post1 img:nth-child(4){
  position: absolute;
  bottom: 17.5vh;
}
#post1 img:nth-child(5){
  position: absolute;
  bottom: 23vh;
}

#post2 img:nth-child(1){
  position: absolute;
  bottom: -0.1vh;
}

#post2 img:nth-child(2){
    position: absolute;
    bottom:6vh;
}
#post2 img:nth-child(3){
  position: absolute;
  bottom:12.5vh;
}
#post2 img:nth-child(4){
  position: absolute;
  bottom: 17.5vh;
}
#post2 img:nth-child(5){
  position: absolute;
  bottom: 23vh;

}
  
#scoreBoard {
  visibility: hidden;
  position: fixed;
  z-index: 999999999;
  width: 80vw;
  height: 62vh;
  background-color: lightgray;
  margin: 3vh 5vw;
  opacity: 0.91;
  border-color: darkgray;
  border-style: dashed;
  border-width: 1vw;
  font-family: 'Boogaloo', cursive;
}
#x{
  position: absolute;
  top:3vh;
  left:3vw;
  font-size: 5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  z-index: 99999999;
  text-shadow:  0.2vh 0.2vh 1vh #0000009b;


}
  
#scoreBoard h1{
  font-size:2.5em;
  margin-top:5vh;
  margin-bottom:1em;
}
#scoreBoard p{
  font-size:1.8em;
  margin-bottom:1.8em;
}
#username{
  width:8em;
  height:2.2em;
  border-style:none;  
  outline: none;
  font-size: 1.8em;
  text-align: center;
  line-height: 2.2em;
  font-family: 'Boogaloo', cursive;
  color: rgb(199, 136, 0);
  margin: 0 1em;
}
#imgleft{
  display: inline-block;
  animation: rotation 0.15s infinite linear;
  margin-right:25vw;
}


@keyframes rotation {
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#imgright{
  display: inline-block;
  animation: rotation 0.15s infinite linear;
}


@keyframes rotation {
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#submit{
  padding: 0.4em;
  margin: 0.25em;
  font-family: 'Boogaloo', cursive;
  font-size: 2em;
  background-color: #da9833;
  color: #d9eeec;
  border-radius: 50%;
  border: 0.2em solid #3c70a4;
  margin-top:1em;
}
#submit:hover {
  background-color: #3c70a4;
  border: 0.2em solid #da9833;
  cursor: pointer;
}
  
#alertNoDonuts{
  height:13vh;
  width:66vh;
  color:red;
  font-size: 3vh;
  font-weight: bold;
  margin-top:10vh;
  visibility: hidden;
}

.donutAdjust {
  font-size: 4vh;
  width:2vw;
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 55vw;
}

#plus-btn {
  margin-left: 16vh;
}

#minus-btn {
  margin-left: 8vh;
}

#changeLevel, #minMoves {
  margin-top: 2.5vh;
  font-size: 4vh;
  display:inline-block;
  position: absolute;
  text-align: right;
  left: 49.5vw;
  font-family: 'Boogaloo', cursive;
  color: #3c70a4;
}

#minMoves {
  left: 10vw;
}
