body{
  background-color: #d9eeec;
  text-align: center;
}
#main-container{
  background-color:#64b2cd;
  margin: 1em auto;
  display: inline-block;
  width: 90%;
  height: auto;
  min-height: 10em;
  overflow: hidden;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
}

header h1 {
  text-align: center;
  padding: 0.25em;
  font-family: 'Boogaloo', cursive;
  font-size: 4em;
  background-color: #da9833;
  color: #d9eeec;
  margin-top: 0.25em;
  border-radius: 50%;
  border: 0.2em solid #3c70a4;
}

header img {
  width: 4em;
  text-align: center;
  margin-bottom: 2em;
}

#nav {
  display: inline-block;
  margin: 0 auto;
  width: 49%;
  text-align: center;
  vertical-align: 50%;
}

#nav div {
  padding: 0.4em;
  margin: 0.25em;
  font-family: 'Boogaloo', cursive;
  font-size: 2em;
  background-color: #da9833;
  color: #d9eeec;
  border-radius: 50%;
  border: 0.2em solid #3c70a4;
}

#nav div:hover {
  background-color: #3c70a4;
  border: 0.2em solid #da9833;
  cursor: pointer;
}

header a {
  margin: 0 auto;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

main{
  background-color:#d9eeec;
  margin: 1.5em auto;
  margin-bottom: 3em;
  padding-bottom: 1em;  
  width:62em;
  height: 28em;
  position: relative;
  /* height: auto; */
  overflow: hidden;
  
}

#moves {
  position:absolute;
  width:auto;
  left: 1em;
  line-height: 65px;
  height:65px;
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 2em;
  color: #21647a;
}

#reset-btn {
  color: #21647a !important;
  width:100px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #cfe7e5 !important;
  display: inline-block;
  transition: all 0.09s ease 0s;
  position: absolute;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  right:0;

  }

#reset-btn:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.09s ease 0s;
}
  
.towers{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
div {
  display:inline-block;
}

#post1{
  background-color:#da9833;
  width:50px;
  height:350px;
  color:white;
  margin-left:100px;
  position: absolute;
  bottom:0;
  left:90px;
}

#post2 {
  background-color:#da9833;
  width:50px;
  height:350px;
  line-height:100px;
  margin-left:100px;
  position: absolute;
  bottom: 0px;
  left:375px;
}


  #post3 {
  background-color:#da9833;
  width:50px;
  height:350px;
  line-height:100px;
  margin-left:100px;
  position: absolute;
  bottom: 0px;
  left:660px;
}

#doughnutOne {
  position:absolute;
  top:278px;
  left:4%;
  width:150px;
  height:30px;
  background-color:purple;
  text-align:center;
}
#doughnutTwo {
  position:absolute;
  top:278px;
  left:4%;
  width:150px;
  height:30px;
  background-color:purple;
  text-align:center;
}

.donutThree{
  background-color:red;
  position: absolute;
  bottom:0;
  right:-6em;
  width:15em;
  height:3em;
  border-radius: 50%;
  line-height:4em;

}
.donutTwo{
  background-color:purple;
  position: absolute;
  bottom:2.2em;
  right:-3.9em;
  width:11em;
  height:2.8em;
  border-radius: 50%;
  line-height:4em;
}

.donutOne {
  background-color: rgb(13, 82, 30);
  position: absolute;
  bottom:4.4em;
  right:-2.6em;
  width:8em;
  height:2.5em;
  border-radius: 50%;
  line-height:2em;
}

